<!-- 영업화면 -->
  <div class="topMargin"></div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">  
      <div class="col-md-2 tableDiv" id="table1" onclick="clickTable(this)">
        <p class="tableInfo">테이블 1</p> 
      </div>  
      <div class="col-md-2 tableDiv" id="table2" onclick="clickTable(this)">
        <p class="tableInfo">테이블 2</p>  
      </div>  
      <div class="col-md-2 tableDiv" id="table3" onclick="clickTable(this)">
        <p class="tableInfo">테이블 3</p> 
      </div>  
      <div class="col-md-2 tableDiv" id="table4" onclick="clickTable(this)">
        <p class="tableInfo">테이블 4</p>
      </div>  
      <div class="col-md-2 tableDiv" id="table5" onclick="clickTable(this)">
        <p class="tableInfo">테이블 5</p>  
      </div>  
      <div class="col-md-2 tableDiv" id="table6" onclick="clickTable(this)">
        <p class="tableInfo">테이블 6</p>
      </div>  
    </div>
  </div>        
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">  
      <div class="col-md-2 tableDiv" id="table7" onclick="clickTable(this)">
        <p class="tableInfo">테이블 7</p> 
      </div>  
      <div class="col-md-2 tableDiv" id="table8" onclick="clickTable(this)">
        <p class="tableInfo">테이블 8</p>  
      </div>  
      <div class="col-md-2 tableDiv" id="table9" onclick="clickTable(this)">
        <p class="tableInfo">테이블 9</p> 
      </div>  
      <div class="col-md-2 tableDiv" id="table10" onclick="clickTable(this)">
        <p class="tableInfo">테이블 10</p>
      </div>  
      <div class="col-md-2 tableDiv" id="table11" onclick="clickTable(this)">
        <p class="tableInfo">테이블 11</p>  
      </div>  
      <div class="col-md-2 tableDiv" id="table12" onclick="clickTable(this)">
        <p class="tableInfo">테이블 12</p>
      </div>  
    </div>
  </div>        
